<header class="app-header">
    <div class="header-container">
    <div class="logo">
      <!-- <img src="assets/letterboxd-logo.png" alt="Letterboxd Logo" /> -->
      <span>Jukeboxd</span>
    </div>
    <div class="user-profile">
        <span>Bacchus</span>
        <img src="assets/profile-pic.png" alt="User profile" class="profile-pic" />
      </div>
    <nav class="nav-links">
      <a href="#">ALBUMS</a>
      <a href="#">LISTS</a>
      <a href="#">MEMBERS</a>
      <a href="#">JOURNAL</a>
    </nav>
</div>
</header>