<header class="app-header">
    <div class="header-container">
    <div class="logo">
      <!-- <img src="assets/letterboxd-logo.png" alt="Letterboxd Logo" /> -->
      <span>Letterboxd Clone</span>
    </div>
    <div class="user-profile">
        <span>Bacchus</span>
        <img src="assets/profile-pic.png" alt="User profile" class="profile-pic" />
      </div>
    <nav class="nav-links">
      <a href="#">Albums</a>
      <a href="#">Lists</a>
      <a href="#">Members</a>
      <a href="#">Journal</a>
    </nav>
</div>
</header>