<header class="app-header">
    <div class="header-container">
    <div class="logo">
      <!-- <img src="assets/letterboxd-logo.png" alt="Letterboxd Logo" /> -->
      <span>Jukeboxd</span>
    </div>
    <!-- <div class="user-profile">
        <span>Bacchus</span>
        <img src="assets/profile-pic.png" alt="User profile" class="profile-pic" />
      </div> -->
      <nav class="nav-links">
        <a routerLink="/albums" routerLinkActive="active">ALBUMS</a>
        <a routerLink="/lists" routerLinkActive="active">LISTS</a>
        <a routerLink="/members" routerLinkActive="active">MEMBERS</a>
        <a routerLink="/journal" routerLinkActive="active">JOURNAL</a>
      </nav>
</div>
</header>